<div id="formcontainer"">
<%= image_tag("writegreenlogo.jpg", :size => "300x67") %>
<h3>Your information</h3>
<%= render 'form' %>
</div>
<div id="lettercontainer" style="background-color:#EEEEEE;">

	<div style="padding-top:70px">
	<h3>Instructions</h3>
	<p> Your name will be used to personalize your letter and your 
	address to match you with your two senators and congressional representative. </p>
	<p> Once you enter your name and address, you'll get a chance to select the
	recipient and customize your letter. </p>
	</div>
</div>
