

   
       <!-- Used to set the CSS formating for the step banners -->
  		 <% @step = 1 %>
  		   		 
		 <!-- Begin Left Column -->
		 <div id="leftcolumn">
		 <h3 style="margin-left: 10px">Your information</h3>
     <%= render 'form' %>
     </div>
		 
		
		 <!-- End Left Column -->
		 
		 <!-- Begin Right Column -->
		 <div id="rightcolumn" style="background-color:#EEEEEE;">
  		  <div style="padding-top:70px">
  	    <h3>Instructions</h3>
      	<p> Your name will be used to personalize your letter and your 
      	address to match you with your two senators and congressional representative. </p>
      	<p> Once you enter your name and address, you'll get a chance to select the
      	recipient and customize your letter. </p>
     </div>
		 </div>
		 <!-- End Right Column -->
		 
		
		
   


   
   


