

   
       <!-- Used to set the CSS formating for the step banners -->
  		 <% @step = 1 %>
  		   		 
		 <!-- Begin Left Column -->
		 <div id="leftcolumn">
		 <h3 style="margin-left: 20px">Enter your information</h3>
     <%= render 'form' %>
     </div>
		 
			
		 <!-- End Left Column -->
		 
		 <!-- Begin Right Column -->
		 <div id="rightcolumn" style="background-color:#FEFCE5;">
  		  
  	  
  	    <h2>WriteGreen makes it easy to write about <strong>climate change</strong>.</h2>
  	    <h3>Your representatives will take notice.</h3>
   			<div class="stepborder highlighted">
   			 <div class="steps selected" style="margin: 5px 5px 15px 5px">
	  		   <h2 style="text-align:left"> 1) Enter your info </h2>
         </div>         			  

      
      	<div class="steps instructions" style="margin: 5px 5px 15px 5px"> 
      	Your information will be used to match you with your congressional representatives.       	    	
      	</div>
      	</div> 
      	
      	<div class="stepborder unhighlighted">
      	 <div class="steps" style="margin: 5px 5px 15px 5px">
	  		   <h2 style="text-align:left"> 2) Customize your letter  </h2>
         </div>  			  

      	<div class="steps instructions" style="margin: 5px 5px 15px 5px"> 
      	Select from the options for recipient, emphasis, perspective, etc.       	    	
      	</div>
      	</div>

      	<div class="stepborder unhighlighted">      	
      	<div class="steps" style="margin: 5px 5px 15px 5px">
	  		   <h2 style="text-align:left"> 3) Edit your letter </h2>
         </div>  			  

      	<div class="steps instructions" style="margin: 5px 5px 15px 5px"> 
      	WriteGreen helps you get started, but the real power is in telling your unique story.       	    	
      	</div>
      	</div>
       


      	
      	
     </div>
		 <!-- End Right Column -->
		 
		
		
   


   
   


