
/*Reset style*/
body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 background: white;
}

  body * {
    visibility:hidden;
  }
  #finalletter, #finalletter * {
    visibility:visible;
  }
  #finalletter {
    position:absolute;
    left:0;
    top:0;
  }

/*Print elements*/
#finalletter {color: #000000; border: none;  background: none; width: 100%; height: 800px; margin: 20px; padding: 0px; float: none; display:block; border-radius:none;  overflow: hidden !important;}



